<!--Current Requests Index View-->

@model IEnumerable<UTAAA.Models.RequestModel>

<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Date Submitted</th>
        <th>Awaiting Approval By</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.REQUESTSTATUS_DESCRIPTION == "Pending")
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQUESTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL_DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    }
}

</table>
