
#welcome {
    display: block;
    margin: 0 auto;
    height: 2.5em;
    text-align: center;
    color: #003e7e;
}

    #welcome h1 {
        background-color: #ffd200;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        border: 1px solid darkblue;
        border-radius: 2px;
        text-transform: none;
    }

#user {
    float: right;
    text-align: right;
    font-weight: bold;
    color: #003e7e;
    clear: both!important;
}

#tabHr {
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-color: #003e7e;
    margin-top: auto;
    margin-bottom: auto;
    border-top: none;
}

hr {
    display: block;
    margin: 0 auto 1em!important;
    border-style: inset;
    border-width: 1px;
}

h3 {
    margin: 0!important;
    padding: 0!important;
}
.subBtn {
    text-decoration: none!important;
}

html {
    min-height: 100%!important;
    position: relative!important;
}

body {
    margin: 0 0 150px!important;
}
footer {
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 150px !important;
}

#content {
    margin-bottom: 5em!important; 
}

#back {
    text-align:center!important;
}