.tab {
    overflow: hidden;
    clear: both;
    display: block;
    margin: 0 auto;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: #ffd200;
        float: left;
        border: 1px solid #003e7e;
        border-bottom: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        display: block;
        margin: 0 auto;
        width: 20%;
        color: #003e7e;
        font-size: large;
        text-transform: none;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #003e7e;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background: #003e7e url(images/footer_bg.gif) repeat-y top center;
            color: white;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    margin: 0;
    padding: 0;
}
